<h1><%= @brew.blend_name %> </h1>
Origin :
<p>
  <%= @brew.origin %>
  </p>
Notes:
<p>
  <%= @brew.notes %>
  </p>
Strength :
  <p>
    <%= @brew.strength %>
  </p>
Customers :
<p>
  <% @purchases.each do |purchase| %>
    <%= purchase.customer_name %> <br>
  <% end %>
</p>
